body{
    background-color: black;
    color: red;
    text-align: center;
}

hr{
    border-color: red;
}

div{
    padding: 3px;
}

.puzzleDiv{
    background-image: url("../images/spookytrees.jpg");
    background-size:cover;
    color: yellow;
    border: 3px solid white;
    height: 300px;
    padding: 20px;
    width: 100%;
    font-size: 60px;
    letter-spacing: 2px;
}

.dashboard{
    border: 5px solid green;
    padding: 0px;
    margin: 0px;
}

.innerDiv{
    border: 2px solid yellow;
    height: 75px;
}

.letters{
    border: 2px solid yellow;
    height: 200px;
    font-size: 16pt;

}