@import url('https://fonts.googleapis.com/css?family=Butcherman');

body{
    text-align: center;
    background-image: URL("../images/spookytrees.jpg");
    background-size:cover;
}

h1{
    font-family: 'Butcherman', cursive;
    font-size: 70pt;
    color: red;
    letter-spacing: 15px;
}

hr{
    border-color: black;
}

.puzzleDiv{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: yellow;
    border: 3px solid white;
    height: 250px;
    width: 100%;
    font-size: 80px;
    background-color: rgba(124, 8, 8, 0.4);
    word-wrap: break-word;
    letter-spacing: 3px;

}

.dashboard{
    color: white;
    border: 3px solid white;
    padding: 10px;
    margin: 0px;
    background-color: rgba(255, 0, 0, 0.7);
   
}

.innerDiv{
    border: 2px solid yellow;
    height: 75px;
}

.letters{
    height: 200px;
    font-size: 16pt;
}

.instructions{
    font-size: 25px;
}

input{
    background-color: yellow;
    color: black;
    padding: 10px;
}

input:hover { 
    background-color: red;
    color: white;
    transition: .5s;
}

